body > header {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg);
  background-image: linear-gradient(var(--color-bg) 83px, var(--color-gray-200) 83px);
}

@media (width >= 1200px) {
  body > header {
    background-image: linear-gradient(var(--color-gray-200) 56px, var(--color-bg) 56px);
  }
}

header .header {
  display: grid;
  grid-template:
    'hamburger logo context' 68px
    'search search search' auto
    / 1fr 2fr 1fr;
  align-items: center;
  gap: calc(2 * var(--space-xs)) 0;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: var(--space-xs);
  font-size: var(--text-s);
}

@media (width >= 600px) {
  header .header {
    padding: var(--space-xs) var(--space-s);
  }
}

@media (width >= 900px) {
  header .header {
    padding: var(--space-xs) var(--space-m);
  }
}

@media (width >= 1200px) {
  header .header {
    grid-template:
      'context contact contact contact' auto
      'logo nav search account' auto / auto auto 1fr auto;
    gap: calc(2 * var(--space-s)) var(--space-m);
    padding: var(--space-s) var(--space-m);
  }
}

header .header p {
  margin: 0;
}

header .header a {
  color: inherit;
}

header .header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header context */
header .header-context {
  grid-area: context;
  justify-self: flex-end;
}

header .header-context a {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  font-weight: bold;
  text-decoration: underline;
}

@media (width >= 1200px) {
  header .header-context {
    justify-self: flex-start;
  }
}

/* header contact */
header .header-contact {
  grid-area: contact;
  display: none;
}

header .header-contact address {
  font-style: normal;
}

@media (width >= 1200px) {
  header .header-contact {
    display: block;
    justify-self: flex-end;
  }

  header .header-contact ul {
    display: flex;
    gap: 1.25em;
  }
}

/* header logo */
header .header-logo {
  grid-area: logo;
  justify-self: center;
}

header .header-logo img,
header .header-logo svg {
  width: auto;
  max-height: 68px;
}

@media (width >= 1200px) {
  header .header-logo {
    padding: var(--space-xs) 0;
  }

  header .header-logo img,
  header .header-logo svg {
    max-height: 40px;
  }
}

/* header nav */
header .header-nav {
  grid-area: nav;
  display: none;
}

header .header-nav > ul {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

header .header-nav > ul > li {
  position: relative;
}

header .header-nav button {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  border: none;
  background: none;
  cursor: pointer;
}

header .header-nav a[target="_blank"]::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1ch;
  background-color: currentcolor;
  mask-image: url('/icons/external.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  vertical-align: text-bottom;
}

header .header-nav button,
header .header-nav > ul > li a {
  padding: 1em 0;
}

header .header-nav button[aria-expanded='true'],
header .header-nav button:hover,
header .header-nav button:focus-visible {
  text-decoration: underline;
}

header .header-nav li > ul {
  display: none;
}

header .header-nav button[aria-expanded='true'] + ul {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(-1 * var(--space-s));
  min-width: 100%;
  width: max-content;
  padding: var(--space-s);
  background-color: var(--color-bg-subtle);
  box-shadow: var(--shadow-s);
}

header .header-nav button[aria-expanded='true'] .icon img,
header .header-nav button[aria-expanded='true'] .icon svg {
  transform: rotate(-180deg);
}

header .header-nav li > ul li + li {
  margin-top: var(--space-s);
}

@media (width >= 1200px) {
  header .header-nav {
    display: block;
  }
}

/* header search */
header .header-search {
  grid-area: search;
  position: relative;
}

header .header-search form {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: var(--radius-pill);
  padding: 0 0.8em;
  background-color: var(--color-bg);
  color: var(--color-subtle);
}

header .header-search label {
  line-height: 0;
}

header .header-search input {
  background: none;
  border: none;
  padding: 0.5em;
}

@media (width >= 1200px) {
  header .header-search form {
    background-color: var(--color-gray-200);
  }
}

/* header account */
header .header-account {
  grid-area: account;
  display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
header .header-account a {
  display: flex;
  gap: 0.5ch;
}

@media (width >= 1200px) {
  header .header-account {
    display: block;
  }
}

/* header hamburger */
header .header-hamburger {
  grid-area: hamburger;
}

/* stylelint-disable-next-line no-descending-specificity */
header .header-hamburger button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

header .header-hamburger button:hover,
header .header-hamburger button:focus-visible {
  transform: scale(1.2);
}

header .header-hamburger .icon-hamburger,
header .header-hamburger .icon-hamburger::before,
header .header-hamburger .icon-hamburger::after {
  display: block;
  height: 2px;
  width: 24px;
  background-color: currentcolor;
  transition: transform 0.2s, background-color 0.2s;
}

header .header-hamburger .icon-hamburger {
  position: relative;
}

header .header-hamburger .icon-hamburger::before,
header .header-hamburger .icon-hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

header .header-hamburger .icon-hamburger::before {
  top: -8px;
}

header .header-hamburger .icon-hamburger::after {
  top: 8px;
}

header .header-hamburger button[aria-expanded='true'] .icon-hamburger {
  background-color: transparent;
}

header .header-hamburger button[aria-expanded='true'] .icon-hamburger::before {
  transform: translateY(8px) rotate(45deg);
}

header .header-hamburger button[aria-expanded='true'] .icon-hamburger::after {
  transform: translateY(-8px) rotate(-45deg);
}

@media (width >= 1200px) {
  header .header-hamburger {
    display: none;
  }
}
